<mat-card>
  <form #postForm="ngForm" (submit)="onSavePost(postForm)">
    <mat-form-field>
      <input
        matInput
        [ngModel]="post?.title"
        name="title"
        placeholder="Post Title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post titie</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="3"
        [ngModel]="post?.content"
        name="content"
        placeholder="Post Content"
        required
        minlenght="3"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="!content.valid">Please enter valid content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent">
      Save Post
    </button>
  </form>
</mat-card>
